<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959031876013-dnedt7tj0u5s8bv2u52gkep8u9p4jndr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959031876013-dnedt7tj0u5s8bv2u52gkep8u9p4jndr</string>
	<key>API_KEY</key>
	<string>AIzaSyBa2u4ZOJvi6ryGCzPrxvZpH2egsaA-xZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>959031876013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthentication</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-b9a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-b9a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959031876013:ios:d47e4b8df3c8fc2e6ce924</string>
</dict>
</plist>